<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<p>Copyright ITC Infotech Ltd, India - 2017</p>
<img src="../img/itc.png" alt="ITC Infotech" style="width:2025px;height:140px;" align="middle">
</ion-content>
