

<ion-content class="background" padding>
  <form (ngSubmit)="login()" #registerForm="ngForm">
  <ion-card>
  		<!-- <ion-card-header>
  			Login Form
  		</ion-card-header> -->
  		<ion-card-content>
  			<ion-list no-line>
          <ion-item>
            <ion-input name="url"  type="text" placeholder="IP/Hostname" [(ngModel)]="loginCredentials.url"></ion-input>
          </ion-item>
  				<ion-item>
  					<ion-input name="name"  type="text" placeholder="Username" [(ngModel)]="loginCredentials.user"></ion-input>
  				</ion-item>
  				<ion-item>
  					<ion-input name="password"  type="password" placeholder="Password" [(ngModel)]="loginCredentials.password"></ion-input>
  				</ion-item>
      				<p>Copyright 2017 - ITC Infotech Ltd, India</p>
              <button ion-button color="light" type="submit">Login</button>
  			</ion-list>
  		</ion-card-content>
  	</ion-card>
</form>
</ion-content>
