<!--
  Generated template for the SearchProduct page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar color="primary">
    <ion-title>Product Search</ion-title>
  </ion-navbar>

</ion-header> -->

<br>
<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
<ion-list>
  <ion-item *ngFor="let item of items">
    {{ item['LCSPRODUCT.PTC_STR_1TYPEINFOLCSPRODUCT'] }}
  </ion-item>
</ion-list>
