<ion-header>
  <ion-navbar color="primary">
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h4> List of Seasons </h4>
  <br>
  <ion-list>
      <button ion-item *ngFor = "let season of seasons" (click) = showSeasonDetails(season)>
        {{ season['LCSSEASON.PTC_STR_4TYPEINFOLCSSEASON']}}
      </button>

  </ion-list>
</ion-content>
