<!--
  Generated template for the Settings page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>My Work Approvals</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

<!-- <ion-grid>
  <ion-row  ion-item *ngFor = "let work of worklist">{{ work.name}}</ion-row>
</ion-grid> -->

<ion-item   ion-item *ngFor = "let work of worklist">
  <ion-toggle checked="false"></ion-toggle>
  <ion-label >
    {{ work.name}}
  </ion-label>
  <ion-icon name='git-branch' item-start></ion-icon>
</ion-item>

</ion-content>
